<div class="container enroll-student-wrapper">
    <h2 class="heading-enroll">Grade/Management</h2>
    <h4>Admin</h4>
    <div class="row">
      <div class="col-md-6">
        <div class="left-enroll-student">
          <h4>Add Grades for</h4>
          <h3>Zericho Public School</h3>

          <div class="form-wrapper">
            <label>Select School</label>
            <select class="classic">
              <option selected>Select School</option>
              <option>Zericho School District NY</option>
              <option>iTutor School District NY</option>
            </select>
          </div>
          <div class="form-wrapper">

            <div class="col-md-12 sublist">
              <div class="row">
                <div class="subject-text bord-bottom">All Subjects</div>
                <div class="subject-text bord-bottom padd-l30">Selected Subjects</div>
                <select id='callbacks' multiple='multiple'>
                  <option value='elem_1'>elem 1</option>
                  <option value='Grade_1'>Grade 1</option>
                  <option value='Grade_2'>Grade 2</option>
                  <option value='Grade_3'>Grade 3</option>
                  <option value='Grade_4'>Grade 4</option>
                  <option value='Grade_5'>Grade 5</option>
                  <option value='Grade_6'>Grade 6</option>


                  ...
                  <option value='elem_100'>elem 100</option>
                </select>
              </div>
            </div>

          </div>


          <div class="form-wrapper text-center">
            <button type="submit" class="submit-btn">Create Grade</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="grdae-map">
          <div class="heading-map">All Grades - Zericho Public School</div>
          <div class="grade-white-bg">
            <div class="left-heading">
              <h4>List of all Grades</h4>
            </div>
            <div class="right-heading">
              <span><img src="assets/images/plus.svg" /></span>
              <h6>Custom Grade</h6>
            </div>

            <div class="wrapper-gray-row content mCustomScrollbar">
              <ul>
                <li>
                  <div class="col-md-6 left-gray">Elementary</div>
                  <div class="col-md-2 text-center">
                    <span><img src="assets/images/edit.svg" /></span>
                    <span>Edit</span></div>
                  <div class="col-md-2 text-center"><span><img src="assets/images/delete.svg" /></span>
                    <span>Delete</span></div>
                  <div class="col-md-2 text-center right-gray">
                    <p class="number-txt">90</p>
                    <p>Students</p>
                  </div>
                </li>
                <li>
                  <div class="col-md-6 left-gray">Grade 1</div>
                  <div class="col-md-2 text-center"></div>
                  <div class="col-md-2 text-center"></div>
                  <div class="col-md-2 text-center right-gray">
                    <p class="number-txt">130</p>
                    <p>Students</p>
                  </div>
                </li>
                <li>
                  <div class="col-md-6 left-gray">Grade 2</div>
                  <div class="col-md-2 text-center">
                    <span><img src="assets/images/edit.svg" /></span>
                    <span>Edit</span></div>
                  <div class="col-md-2 text-center"><span><img src="assets/images/delete.svg" /></span>
                    <span>Delete</span></div>
                  <div class="col-md-2 text-center right-gray">
                    <p class="number-txt">105</p>
                    <p>Students</p>
                  </div>
                </li>
                <li>
                  <div class="col-md-6 left-gray">Grade 3</div>
                  <div class="col-md-2 text-center"></div>
                  <div class="col-md-2 text-center"></div>
                  <div class="col-md-2 text-center right-gray">
                    <p class="number-txt">121</p>
                    <p>Students</p>
                  </div>
                </li>
                <li>
                  <div class="col-md-6 left-gray">Grade 4</div>
                  <div class="col-md-2 text-center">
                    <span><img src="assets/images/edit.svg" /></span>
                    <span>Edit</span></div>
                  <div class="col-md-2 text-center"><span><img src="assets/images/delete.svg" /></span>
                    <span>Delete</span></div>
                  <div class="col-md-2 text-center right-gray">
                    <p class="number-txt">110</p>
                    <p>Students</p>
                  </div>
                </li>
                <li class="deactivate">
                  <div class="col-md-6 left-gray">Grade 4</div>
                  <div class="col-md-2 text-center"></div>
                  <div class="col-md-2 text-center"></div>
                  <div class="col-md-2 text-center right-gray">
                    <p class="number-txt">110</p>
                    <p>Students</p>
                  </div>
                </li>
                <li>
                  <div class="col-md-10 left-gray">Grade 4</div>
                  <div class="col-md-2 text-center"></div>
                  <div class="col-md-2 text-center"></div>
                  <div class="col-md-2 text-center right-gray">
                    <p class="number-txt">110</p>
                    <p>Students</p>
                  </div>
                </li>

              </ul>

            </div>
            <button type="button" class="add-section">Add Section</button>

          </div>

        </div>
      </div>
    </div>

    <div id="edit-grade">
      <div class="edit-grade-wrapper">
        <div class="white-wrap">
          <div class="close-btn-pop">
            <img src="assets/images/close-pop.svg" alt="Close" />
          </div>
          <div class="grade-custom">

            <h4>Edit Grade Name for</h4>
            <h3>Zericho Public School</h3>
            <div class="form-wrapper">
              <label>Grade Name</label>
              <input type="text" placeholder="Advance K5">

            </div>
            <button type="button" id="updateGrade" class="submit-btn">Update Grade</button>
          </div>
          <div class="grade-success">
            <div class="img-tick">
              <img src="assets/assets/images/tick.svg" />
            </div>
            <h4><strong>Advanced 5</strong> - Grade added for</h4>
            <h3>Zericho Public School</h3>

          </div>
        </div>
      </div>


    </div>
  </div>